.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        a
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          aaa
      .main-header__edit-btn
        = link_to 'Edit', "#"

  .group-messages
    .message
      .message__upper
        .message__upper__user
          あああああ
        .message__upper__date
          2020/06/09(Tue) 21:26:14
      .message__text
        aaaaaa
  .form
    .input-box
      %input{class: "input-box__text",type:"text",placeholder:"type a message"}
      %label.input-box__image
        %i.fa.fa-image
        %input{class: "input-box__image__file",type:"file"}
    %input{class: "submit-btn",type:"submit",value:"Send"}