.side-bar
  .side-bar__username
    = current_user.name
    .top-name
      %p.top-usertop
        masa
    .top-icon
      .top-icon_edit
        = icon('far', 'far fa-edit')
      .top-icon_setting
        = link_to edit_user_path(current_user) do
          = icon('fa', 'fa fa-cog')

  .side-bar__grouplist
    .side-bar__grouplist__group
      %p.side-bar__grouplist__group__group-name
        aaaaaa
      %p.side-bar__grouplist__group__latest-message
        さんぷる
