.side-bar
  .side-bar__username
    .top-name
      %p.top-usertop
        masa
    .top-icon
      .top-icon_edit
        = icon('far', 'far fa-edit')
      .top-icon_setting
        = icon('fa', 'fa fa-cog')

  .side-bar__grouplist
    .side-bar__grouplist__group
      %p.side-bar__grouplist__group__group-name
        aaaaaa
      %p.side-bar__grouplist__group__latest-message
        さんぷる
